:root {
  --primary: #d81e5b;
  --secondary: #8a4efc;
  --light: #eee;
  --light-alt: #61759b;
  --dark: #131a26;
  --dark-alt: #202b3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
body {
  background-color: var(--dark-alt);
  color: var(--light);
}

.App{
  padding: 32px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

h4 {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

nav {
  background-color: var(--dark);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4{
  text-align: center;
}
