.notifications {
    padding: 20px;
  }
  
  .notification-list {
    list-style-type: none;
    padding: 0;
  }
  
  .notification-list li {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  