.scheduler {
  padding: 20px;
}

.scheduler-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.scheduler-form input,
.scheduler-form button {
  margin-bottom: 10px;
  padding: 8px;
}

.scheduler-form button, .delete-button {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 10px;
}

.scheduler-form button:hover, .delete-button:hover {
  background-color: var(--secondary);
}

.delete-button {
  margin-top: 10px;
}

.schedule {
  background-color: var(--light-alt);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.schedule-summary {
  font-weight: bold;
}

.schedule-details {
  padding-top: 10px;
}

.schedule:hover .schedule-details {
  display: block;

}
